@model IEnumerable<TMEPortal.Models.FacturasPorPagarCliente>
@{
    ViewBag.Title = "PedidosCTE";
    Layout = "~/Views/Shared/_LayoutLTE.cshtml";
}

<script src="~/Scripts/jszip.js"></script>
<link href="~/Content/dx.common.css" rel="stylesheet" />
<link href="~/Content/dx.softblue.css" rel="stylesheet" />
<link href="~/Scripts/dxTable.css" rel="stylesheet" />
<link href="~/Scripts/dxStyles.css" rel="stylesheet" />
<script src="~/Scripts/dx.web.js"></script>

<div class="dx-viewport">
    <div class="options">
        <div class="caption"></div>
        <div class="option">
            <span>Fecha De:</span>
            <div id="FechaD"></div>
        </div>
        <div class="option checkboxes-mode">
            <span>Fecha A:</span>
            <div id="FechaA"></div>
        </div>
    </div>
</div>


<div class="dx-viewport">
    <div class="demo-container">
        <div id="dgvFp"></div>
    </div>
</div>
<script>


    var FechaD = $("#FechaD").dxDateBox({
        value: new Date(),
        displayFormat: "yyyy-MM-dd",
        dateFormat: 'yyyy-MM-dd',
        type: "date",
        onValueChanged: function (data) {
            console.log();
            //$("#dgvFp").dxDataGrid("instance").columnOption("FechaEmision", "filterValue", ["2018-05-25","2018-05-27"]);
            $('#dgvFp').dxDataGrid("instance").filter(["FechaEmision", "=", "Tue Nov 27 2018 00:00:00"])
        }
    }).dxDateBox("instance");



    var FechaA = $("#FechaA").dxDateBox({
        value: new Date(),
        displayFormat: "yyyy-MM-dd",

        onValueChanged: function (data) {

        }
    }).dxDateBox("instance");


    var dsFac = @Html.Raw(Json.Encode(Model).Replace(@"""\/Date(", "new Date(").Replace(@")\/""", ")"))
        $("#dgvFp").dxDataGrid({
        dataSource: dsFac,
            allowColumnResizing: true,
            showBorders: true,
        // columnAutoWidth: true,
            columns: [
                {
                    dataField: "movid",
                    caption: 'Factura'

                }, 'Orden_de_compra', "referencia", { dataField: "importe", format: "currency" }, { dataField: "impuestos", format: "currency" }, { dataField: "saldo", format: "currency" }, { dataField: "FechaEmision", format: "yyyy-MM-dd" }],
        grouping: {
            //autoExpandAll: true,
            },
            masterDetail: {
                enabled: true,
                template: function (container, options) {
                    var currentEmployeeData = options.data;
                    console.log(currentEmployeeData)
                    $("<div>")
                        .addClass("master-detail-caption")
                        .text("Detalle")
                        .appendTo(container);

                    $("<div>")
                        .dxDataGrid({
                            columnAutoWidth: true,
                            showBorders: true,
                            columns: ["Articulo", {
                                dataField: "Cantidad",

                            }, {
                                    dataField: "Descripcion1",

                                }, { dataField: "Precio", format: "currency" }, {
                                    dataField: "Total",
                                    format: "currency"
                                }],
                            dataSource: currentEmployeeData.Detalle
                        }).appendTo(container);
                }
            },
        filterRow: {
            visible: true,
            applyFilter: "auto"
        },
        searchPanel: {
            visible: true,
            width: 240,
            placeholder: "Buscar..."
        },
        headerFilter: {
            visible: true
        },
        loadPanel: {
            enabled: true
        },
        scrolling: {
            mode: "virtual"
        },
        paging: {
            pageSize: 10
        },
        groupPanel: {
            visible: true,
            placeholder: "Arrastre hasta aqui para agupar"
        },
        export: {
            enabled: true,
            fileName: "Pedidos Kober"
        }


                })



</script>



