
@{
    ViewBag.Title = "Confirmacion de correo enviada";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        le hemos enviado una cofirmacion de correo al correo: @ViewBag.Email
    </div>
</div>

