@{
    ViewBag.Title = "iniciaPago";
    Layout = "";
}

<!DOCTYPE html>

<html>
<head>
    <title>Buy cool new product</title>
</head>
<body>
    <form action="/Payouts/CreateCheckoutSession" method="POST">
        <button type="submit">Checkout</button>
    </form>
</body>
</html>
